#links img,footer img, li img, h1 img, h2 img, h3 img, p img, .dropme img {
    height: 1em;
}
.node:hover{
  /* stroke-width: 7px !important; */
  opacity: 1 !important;
  position: absolute;
  display: flex;
}
body {
    margin: 2px;
    padding: 1em;
    font-size: 11px;
    color: inherit;
    font-family:'RobotoMono', monospace;
    background: #e4d5b9;
}

html {
    padding: none;
}

h1{
    text-align: center;
}

h5{
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 25px;
    color: rgb(143, 38, 38);
}

h6{
  text-align: center;
  font-family: 'Koulen', cursive;
  font-size: 18px;
}
h7{
  font-family: 'Koulen', cursive;
  font-size: 20px;
  color: rgb(143, 38, 38);
}
p {
  text-align: justify;
}
a {
	text-decoration: none;
}

a:hover {
	color: red;
}

#list tr:nth-child(even) {
    background: #333;
}

#list th {
    background: #33a ;
    border: 0px;
}

svg {
  font: 11px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}
  .frame {
    fill: none;
    stroke: #aaa;
  }
  
  circle {
    fill-opacity: .7;
  }
  
  circle.hidden {
    fill: #ccc !important;
  }
  
  .extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
  }

  .node:hover{
    stroke-width: 7px !important;
    opacity: 1 !important;
  }

  .tooltipMds {
    position: absolute;
    visibility: hidden;
    background-color: #F8F8FF;
    display: flex;
    font-family: sans-serif;
    max-width: 300px;
    color: #000000;
    max-height: 300px;


}
.tooltip {
  position: absolute;
  pointer-events: none;
  background: rgb(255, 255, 255);
  border: 1px solid #6F257F;
  color: rgb(0, 0, 0);
}


.toolTipBarr {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

/* Style buttons */
.btn {
  background-color: rgb(143, 38, 38); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(151, 104, 104);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(143, 38, 38);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(143, 38, 38);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.center {
  margin: auto;
  width: 50%;
  padding: 2px;
}

.legendTitle {
  font-size: 16px;
}


table {
  border-spacing: 1em .5em;
  padding: 0 2em 1em 0;
  border: 1px solid orange;
  border-collapse: collapse;

}

td {
  width: 1.5em;
  height: 1.5em;
  background: #d2d2d2;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #000;
  border-right: 1px solid #000;

  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr {
  width: 1.5em;
  height: 1.5em;
  background: #d2d2d2;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

th {
  width: 1.5em;
  height: 1.5em;
  background: #d2d2d2;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}