<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CSE-545 Project</title>
        <link rel="shortcut icon" href="#">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Nanum+Gothic&family=PT+Sans&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">        <link rel='stylesheet' type='text/css' href='/static/style.css'>
        <script src="https://kit.fontawesome.com/13c8d958c4.js" crossorigin="anonymous"></script>
        <!-- Load d3.js -->
        <script src="http://d3js.org/d3.v4.js"></script>
        <script>
            d3version4 = window.d3;
            window.d3 = null;
        </script>
        <script src="https://d3js.org/d3.v6.js"></script>
        <script>
            d3version6 = window.d3;
            window.d3 = null;
            d3 = Object.assign({}, d3version4);
        </script>
        <script src="http://d3js.org/d3.v5.min.js"></script>
        <script>
            d3version5 = window.d3;
            window.d3 = null;
            d3 = Object.assign({}, d3version4);
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
        <script>
            d3version3 = window.d3;
            window.d3 = null;
            d3 = Object.assign({}, d3version4);
            // console.log('v3', d3version3.version)
            // console.log('v5', d3version5.version)
            // console.log('versn', d3.version)
        </script>
        <script src="http://d3js.org/d3.v4.js"></script>

        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
        
    </head>
    <style>
        .area {
            fill: rgb(15, 86, 218);
            clip-path: url(#clip);
        }

        .zoom {
            cursor: move;
            fill: none;
            pointer-events: all;
        }
        .box {
            /* box-shadow: 0px 5px 20px 1px #aaa; */
            /* border-radius: .4em; */
            border-style: solid;
            border-width: 1px;
            border-color: #aaa; 
            background-color: #fcf6de;
        }

    </style>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 box p-2"> 
                        <h5><i class="fa-solid fa-globe"></i>
                            World Map</h5>
                        <br>
                        <div id="world_map"></div>
                        <div id="world_map_legend"></div>
                </div>
                <div class="col-2">
                    <div class="row-4 box p-2">
                        <h5>Discovering the Cornerstones of 
                            Sustainable Industrialization and Urbanization</h5>
                    </div>
                    <br>
                    <div class="row-4 box p-2">
                        
                            <h5><i class="fa-solid fa-earth-americas"></i>
                                Country
                            </h5>
                            <h6 id = "statc">lol</h6>
                            <br>
                            <h5><i class="fa-solid fa-gear"></i>
                                Attribute</h5>
                            <h6 id = "stata">lol</h6>
                        
                    </div>
                    <br>
                    <div class="row-4 box p-2">
                        <h5><i class="fa-solid fa-clock"></i>
                            Year</h5>
                        <h6 id = "statt">lol</h6>

                        <br>
                        <div class="center">
                            <button class = "btn" onclick="dec_year()" type="button"><i class="fa-solid fa-backward-step"></i></button>
                            <button class = "btn" onclick="animate_map()" id = "play" type="button"><i class="fa-solid fa-play"></i></button>
                            <button class = "btn" onclick="inc_year()" type="button"><i class="fa-solid fa-forward-step"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-4 box p-2">
                    
                        <h5><i class="fa-solid fa-chart-line"></i>
                            Time Series</h5>
                        <br>
                        <div id="time_series"></div>
                    
                </div>
            </div>
            <br>
            
            <div class="row">
                <div class="col-4 box p-2">
                    
                    <h5 style="display: inline-flex;"><i class="fa-solid fa-chart-bar"></i>
                        Bar Chart
                    </h5>
                    
                    <div style ="display: inline; float: right;"class="col-sm-4 checkbox" id="checkboxb" style="font-size:large; float: left;">
                        <h7 style="color: dodgerblue;">Most</h7>
                        <label class = "switch"> 
                        <input type="checkbox" id="topWrst" name="topWrst" 
                        value="topWrst" style="height: 20px; width:20px;" onclick='handleClickCBox(this);'> 
                        <span style="float: right" class="slider round"></span>
                        </label>
                        <h7>least</h7>
                        
                    </div>
                    <div id="bar_chart"></div>
                
                </div>
                <div class="col-4 box p-2">
                    
                        <h5><i class="fa-solid fa-grip-lines-vertical"></i><i class="fa-solid fa-grip-lines-vertical"></i>
                            Hypothesis and Similarity</h5>
                        <br>
                        <div class="container" >
                            <div class="hyponav"  style="font-size:large; float: left ;width:100px;">
                                <h7>Hypothesis</h7><br>
                                <label for="dropdown">Select a Dependent Field: &nbsp;</label><br>
                                <select class="dropdown" id="dependentdropdown" name="dropdown" style="height: 32px; width:200px; margin-right: 50px;">
                                </select><br>
                                <br>
                                <input type="submit"  onclick='handlePval(this);' value="Generate p-val">
                                <div class="pValTable"></div>
                            </div>

                            <div class="similarnav"  style="font-size:large; float: right;">
                                <h7>Similarity</h7><br>
                                <br>
                                <div class="simlarityTable"></div>
                            </div>
                        </div>
                   
                </div>
                <div class="col-4 box p-2">
                   
                    <h5><i class="fa-solid fa-braille"></i>
                        MDS Plot</h5>
                    <div id="mdsplot"></div>
                  
                </div>
            </div>
        </div>
        
        <!-- Create a div where the graph will take place -->
        <script type="text/javascript" src="/static/world_map.js"></script>
        <script type="text/javascript" src="/static/time_series.js"></script>
        <script type="text/javascript" src="/static/pcp.js"></script>
        <script type="text/javascript" src="/static/bar_chart.js"></script>
        <script type="text/javascript" src="/static/mds.js"></script>
        <script type="text/javascript" src="/static/insights.js"></script>

        <script>
            var defaultFeature  = 'GDP (current US$)'
            var yearSt = 2000
            var yearEnd = 2019
            var timeSerBrushCtr=0
            var ccMapping = d3.map();
            var svgtime;
            var svgb;
            var svgw;
            var svgtime;
            var wm_data;    
            var country = 'USA';
            var year = 2000;
            var dependentFtr = "Exports of goods and services (% of GDP)"
            var dependentFeatureList= ["Exports of goods and services (% of GDP)",                                                         
                "Trade (% of GDP)",                                                                                
                "Mineral rents (% of GDP)",                                                                        
                "GDP (current US$)",                                                                                
                "GNI (current US$)" ]
            
            var axis_order = [
                "Exports of goods and services (% of GDP)",                                                         
                "Trade (% of GDP)",                                                                                
                "Mineral rents (% of GDP)",                                                                        
                "GDP (current US$)",                                                                                
                "GNI (current US$)"                                                                            
            ]


            fetch('/mapping/countryCodes')
                .then(function (response) {
                    return response.json();
                }).then(function (data) {
                    countryCodeMapping(data)
                    document.getElementById("statc").innerHTML = ccMapping.get(country)

                });

                function countryCodeMapping(data){

                    for(var i = 0; i < data.length; i++) {
                        var obj = data[i];
                        ccMapping.set(obj["Country Code"], obj['Country Name'])
                    }
                }


            function handleClickCBox(){
                //here checked(true) means worst
                checkBoxChart =  d3.select('input[name="topWrst"]').node().checked;
                
                fetch('/barchart', {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({'attr': defaultFeature, 'worst': checkBoxChart,  'yearSt': yearSt, 'yearEnd': yearEnd})
                    })
                    .then(function (response) {
                        return response.json();
                    }).then(function (data) {
                        update_bar_chart(data)
                    });
            }

            d3.select("select#dependentdropdown")
                .on('change', () => changeVariable())
                .selectAll('option')
                .data(dependentFeatureList)
                .enter()
                .append('option')
                .attr('value', d=>d)
                .property("selected", function(d){
                    return d === dependentFtr;
                })
                 .text( d=> d)

            function changeVariable(){
            }

            function handlePval(){
                fetch('/hypothesis', {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },

                    body: JSON.stringify({'yearSt': year, 'yearEnd': year, 'axis': axis_order})
                    })
                    .then(function (response) {
                        return response.json();
                    }).then(function (data) {
                        findHypothesis(data, axis_order)
                });
            }

            function handlePval(){
                fetch('/similarity', {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },

                    body: JSON.stringify({'yearSt': year, 'yearEnd': year, 'axis': axis_order})
                    })
                    .then(function (response) {
                        return response.json();
                    }).then(function (data) {
                        findSimilarity(data, axis_order)
                });
            }

            findSimilarity
        </script>
        <script type="text/javascript" src="/static/stats.js"></script>
        
    </body>
</html>